/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

.login {
	display: flex;
	margin-top: 150px;
	margin-bottom: 355px;
	align-items: center;
	justify-content: center;
}

.password {
	display: flex;
	color: #3d3d3d;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	align-self: center;
}

input:focus {
	outline: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1>span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

button {
	border-radius: 60px;
	height: 36px;
}

.catégorie {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 50px;
}

.categorie {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px;
}

.button-category {
	display: flex;
	padding: 20px;
	color: #1d6154;
	border: 1px solid #1d6154;
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background-color: white;
	font-family: "Syne";
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.logo {
	height: 22px;
	width: 22px;
}

ul li#logoutLink a:hover,
ul li a:hover {
	color: #b1663c;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	flex-direction: column;
	align-items: center;
	display: flex;
	justify-content: center;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	align-self: right;
}

.error-message {
	color: red;
	display: none;
}

.modifier {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.edition {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: black;
	color: white;
	padding: 10px 0;
	z-index: 1000;
	margin: 0;
	gap: 10px;
	display: flex;
	border-radius: 0;
	height: 59px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding: 0%;
	top: -15px;

}

.edition img {
	width: 15.58px;
	height: 15.58px;
	flex-shrink: 0;
	padding: 20PX 0px 20px;
}

.edition h1 {
	color: #FFF;
	text-align: center;
	font-family: "Work Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 20PX 0px 20px;

}

#black-pen-to-square {
	color: #000;
}

#modif-portfolio {
	margin-top: 1rem;
	margin-left: 15px;
	padding-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.projet {
	margin-top: 8rem;
	gap: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.js-close-modal {
	z-index: 1;
	width: 10%;
	border: white;
	background: WHITE;
	position: relative;
	left: +100%;
	font-size: 24px;
	font-family: "Work Sans";
}

.modal {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	background: rgba(0, 0, 0, 0.30);
	width: 100%;
	height: 100%;
}

.modal-wrapper {
	display: none;
	width: 430px;
	height: 648px;
	flex-shrink: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background: #FFF;
	padding: 20px 100px 20px 100px;
}

.modal-content {
	display: none;
	position: relative;
	margin: auto;
	background: white;
	width: auto;
	max-width: 500px;
}

#ajoutPhotoContent {
	display: none;
	border: none;
	position: relative;
    top: -35px;
}

.galerie-photo h1 {
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-bottom: 40px;

}

/* Conteneur pour chaque image et l'icône de suppression */
.image-container {
	position: relative;
	/* Conteneur parent avec position relative */
	display: inline-block;
	/* Permet d'afficher les éléments en ligne */
	width: 150px;
	/* Largeur de l'image (ajuste selon ton besoin) */
	height: 150px;
	/* Hauteur de l'image (ajuste selon ton besoin) */
	margin: 10px;
	/* Espacement autour des images */
	overflow: hidden;
	/* Cache les débordements */
}

/* Image avec ajustement de taille */
.img-style {

	width: 77px;
	height: 108px;
	flex-shrink: 0;
	object-fit: cover;
	margin: 4px;

	display: block;
	/* Supprime les espaces blancs autour */
}

/* Icône de suppression avec position absolue */
.trash-icon {
	position: relative;
	cursor: pointer;
	right: 0%;
	height: -4%;
	transition: transform 0.3s ease;
	top: 29px;
	left: 59px;
}

.delete-photo {
	display: flex;
	flex-wrap: wrap;
}

#arrow-button {
	border: none;
	left: -70px;
	position: relative;
	height: 21px;
	background-color: #FFF;
	cursor: pointer;
	position:relative;
	top: -5px;
}

.ajout-photo {
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
	padding: 10px 49px 10px 49px;
	border: none;
	gap: 0px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: #1d6154;
	color: #FFF;
	display: flex;
	justify-content: center;
	left: 90px;
	top: -14px;
	position: relative;
}

.ligne {
	margin-top: 15px;
    margin-bottom: 45px;
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
	background: #0000004D;

}

#submitButton {
	margin-top: -40px;
	background: #1d6154;
	color: #FFF;
	border: none;
	width: 237px;
	padding: auto;
}

#ajout-photo-titre {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	color: #000;
	margin-bottom: 36px;
}

.photo-upload-label p {
	font-family: Work Sans;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
	color: #444444;

}

.photo-upload-label {
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;
	gap: 10px;
}

#photoForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

#adb {
	padding: 10px 35px 10px 35px;
	border-radius: 50px;
	color: #306685;
	background-color: #CBD6DC;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: center;

}

.form-group1 label {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	text-align: left;
	color: #3D3D3D;
	align-self: start;

}

.form-group1 input {
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	width: 420px;
	height: 50px;
}

.form-group1 {
	gap: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;

}


#categoryId {
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	width: 420px;
	height: 50px;
}